<!DOCTYPE html>
<html>
<h1> Make Dat Pupper </h1>
<!-- method = HTTP verb -->
<!-- actions = where (endpoint) we want to send this -->
  <form method="post" action="/display_puppy">
    <!-- DFI says a Puppy has a name, breed & age -->
    <label for="name">Puppy Name</label>
      <input type="text" name="name" placeholder="name" value="">
        <br>
    <label for="breed">Puppy Breed</label>
      <input type="text" name="breed" placeholder="breed" value="">
        <br>
    <label for="age">Puppy Age</label>
      <input type="text" name="age" placeholder="age" value="">
        <br>
    <input type="submit" value="submit">
  </form>
</html>
