<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Adoption puppy</title>
 </head>
 <body>
   <h1>Creat a adoption puppy form</h1>
   <form method="post" action="/new">
     <p>name: <input type="text" name="name"></p>
     <p>breed: <input type="text" name="breed"></p>
     <p>age: <input type="text" name="age"></p>
     <input type ="submit" id= "submit">
   </form>
 </body>
</html>
