<form method="post" action="/">
  <p>Create Your Puppy:</p>
  <textarea name="name">Name</textarea>
  <br>
    <textarea name="breed">Breed</textarea>
    <br>
      <textarea name="age">Age</textarea>
  <button type="submit" value="submit">Submit</button>
</form>
