<h2>Enter New Puppy's Information</h2>
<form method="post" action='/display'>
  Name: <input type="text" name="name">
  Breed: <input type="text" name="breed">
  Age: <input type="text" name="age">
  <input type="submit" id="submit">
</form>
