<form action="/puppy" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="breed" placeholder="Breed">
  <input type="text" name="age" placeholder="Age">
  <input type="submit" value="submit">
</form>
